---
title: Andrew Luo
layout: default
---
	<body class="right-sidebar">
	

		{% include nav.html %}

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">
					<div class="row">
						<div class="8u">

							<!-- Content -->
								<article class="box post">
									<a class="image featured"><img src="/assets/images/andrew.jpg" alt="" /></a>
									<header>
										<h2>A Short Autobiography</h2>
										<p>Because brevity is the soul of wit.</p>
									</header>
									<header>
											<h3>Education</h3>
										</header>
									<p>
										I am a 2nd year student of Biomedical Engineering at the University of Waterloo. Because it is a coop program, I get to experience equal parts 
										work and study! 
									</p>
									
									<section>
										<header>
											<h3>Interests </h3>
										</header>
										<b> Data science and machine learning  </b>
										<p>
											I find these two fields interesting because of their game-changing 
											implications for biomedical technology, such aiding radiologists 
											in interpreting their massive sets of images. Right now, I'm only using 
											Python modules and APIs for these applications. I plan to learn R and 
											Matlab, as well as gain insight on the inner workings of Machine Learning.
											
										</p>
										<b> Entrepreneurship  </b>
										<p>
											I was exposed to entrepreneurship through Shad Valley, which is a month-long Canadian 
											summer program with a focus on STEM. For our central design project, we were separated
											into groups of 8 and designed business plans and prototypes for a product. I had the 
											(fortune) of being teamed up with some of the most motivated people in 
											Canada, which later lead me to the opportunity of showcasing our project for the national Shad Cup. During my
											remaining 4 undergraduate years I'm definitely going to take advantage of uWaterloo's strong support for startups. 
						
										</p>
										
										<b> Self-study  </b>
										<p>
											With our modern resources, why is education the way it is?
											Because learning is so important in all stages of life, I enjoy 
											self-learning topics through different mediums to explore the paths to mastery. 
										</p>
									</section>
									<section>
										<header>
											<h3>Some other interests</h3>
										</header>
										<b> Cooking </b>
										<p>
											What started as an early addiction to instant ramen ended up 
											as proficiency in Chinese, Korean and Japanese cooking. My favorite form of 
											cooking is the Chinese stir-fry. After heating my carbon-steel wok until it 
											smokes, the suspense of keeping the ingredients in constant motion and the musical 
											clattering of the metal spatula create the most sensational atmosphere. 
										</p>
										<b> Piano </b>
										<p> I really hated Piano. I stuck to it against my will. I hated it for years until the sudden realization that
										my eyes glowed when I spoke of topic. Since then, I attained my RCM level 10 certificate
										and still play daily. Favorite composers include Bach, Chopin, Joe Hisaishi and Richard Clayderman.
										</p>
									</section>
								</article>

						</div>
						{% include sidebar.html %}
					</div>
				</div>
			</div>